extends layout

block content
  h1= labas
  h2 welcome 
  p Your email is: #{email}
  p Country: #{country}
  p os: #{osfamily}
  p language: #{language}
  p browser: #{browserfamily} version #{browserv}
  p accept headers: #{accept}
  p device: #{devicefamily} Version #{devicev} 
  h1 fingerprint: #{hash}
  br
  br
  br
  a(href="/logout")
   button(type="button") Logout
